@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #666;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;
	line-height: 2;
	background: #eff2eb;
	overflow-x: hidden;
}

h2,h3 {
  margin: 0px;
  padding: 0px;
  font-size: 120%;
  font-weight: normal;
}

#sake h4,#sake p{
  margin: 0px;
  padding: 0px;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

li span{
  padding: auto;
  text-align: center;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
	color: #666;
	transition: 0.3s;
}
a:hover {
	color: #546247;
}

#container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3%;
}

header {
	text-align: center;
}

#mainimg img {
	border-radius: 10px;
	margin-bottom: 40px;
}

#menubar {
	text-align: center;
	font-size: 18px;
  margin-bottom: 40px;
}

#menubar li {
	display: inline;
}
#menubar li a {
	text-decoration: none;
	padding: 15px 30px;
}

#menubar li a:hover {
	color: #546247;
	border-bottom: 4px solid #546247;
}

#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff;
	padding: 10px 20px;
	background: #5f6d51;
	border-radius: 10px;
}

.home img {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
}

.home span {
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 24px;
}

/*----profile----*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
}

#sake ul {
  display: flex;
  justify-content: space-between;
}
#sake li {
  width: 25%;
}


/*----todo list----*/
.checklist {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.checkbox {
  transform: scale(2);
  margin: 0 12px 0 0;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.del-btn {
  border: white;
  color: rgb(255, 255, 255);
  background: rgb(238, 63, 63);
  text-align: center;
  font-size: 16px;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.del-btn:hover{
  border: 1px solid rgb(238, 63, 63);
  color: rgb(238, 63, 63);
  background: white;
  cursor: pointer;
}

.add-todolist {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1.5);
}

#add-todolist {
  width: 50%;
}

.add-btn {
  cursor: pointer;
}

/*---- ドロワーメニュー ----*/
.icon-home::before {
  content: url(../icons/home.png);
  transform: scale(0.5);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle
}

.icon-note::before {
  content: url(../icons/note.png);
  transform: scale(0.5);
  position: relative;
  vertical-align: middle
}

.icon-profile::before {
  content: url(../icons/profile.png);
  transform: scale(0.5);
  position: relative;
  vertical-align: middle
}

.icon-production::before {
  content: url(../icons/production.png);
  transform: scale(0.5);
  position: relative;
  vertical-align: middle;
}

.icon-github::before {
  content: url(../icons/github.png);
}

.icon-slack::before {
  content: url(../icons/slack.png);
}

/* html {
  scroll-behavior: smooth;
} */

#drawer {
	display: none;
}

label {
  cursor: pointer;
  position: fixed;
}

.open {
  z-index: 2;
  top: 8px;
  right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: #86c0de;
  transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid white;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before {
  transform: translateY(-8px);
}
.open::after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  inset: 0;
  pointer-events: none;
  transition: background-color .6s;
}
#drawer:checked + .open {
  background: #dc6688;
  transform: translateX(-250px);
}
#drawer:checked + .open span {
  transform: scaleX(0);
}
#drawer:checked + .open::before {
  transform: rotate(135deg) scaleX(1.2);
}
#drawer:checked + .open::after {
  transform: rotate(-135deg) scaleX(1.2);
}
#drawer:checked ~ .close {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);
}
/* :::::: drawer menu :::::: */
.menu {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(184, 212, 189, 0.8);
  transform: translateX(100%);
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2 {
  color: black;
  font-weight: 400;
  letter-spacing: .1em;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  line-height: 1.4;
}
.menu li:not(:first-child) {
  border-top: 1px solid rgb(255, 255, 255);
}
.menu a {
  display: block;
  padding: 1em 2em;
  color: black;
  text-decoration: inherit;
  transition: background .6s;
}

.menu a:hover {
  background: rgb(108, 211, 139);
  letter-spacing: .1rem;
  transition: letter-spacing .6s;
}

#drawer:checked ~ .menu {
  transform: none;
}